spring:
  application:
    name: 'store'

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: org.apache.commons.dbcp2.BasicDataSource  # 사용할 데이터 소스 타입 (DBCP2)

    dbcp2:
      initial-size: 20  # 처음 풀(pool)에 할당할 커넥션 개수
      max-total: 50  # 풀에 허용할 최대 커넥션 개수
      max-idle: 50  # 풀에 유지할 수 있는 최대 유휴 커넥션 개수
      min-idle: 20  # 풀에 유지할 최소 유휴 커넥션 개수
      validation-query: SELECT 1  # 커넥션 유효성 검사를 위한 쿼리
      default-auto-commit: true  # 기본 자동 커밋 설정

  rabbitmq:
    listener:
      simple:
        acknowledge-mode: none
#        retry:
#          enabled: true
#          initial-interval: 3000  # 최초 메시지 처리 실패 후 재시도까지의 인터벌 (3초)
#          max-interval: 10000    # 최대 재시도 인터벌 (10초)
#          max-attempts: 3        # 최대 재시도 횟수
#          multiplier: 2.0 # 이전 interval * multiplier = 다음 interval


  #절대 변경 금지
  jpa:
    hibernate:
      ddl-auto: validate


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

  #로그 크러쉬 정보
  logstash:
    host: 133.186.241.167
    platform: NovaBook-Store-Dev
    url: https://api-logncrash.cloud.toast.com/v2/log
    projectName: Xyx7DoyszcG66ULx
    projectVersion: 1.0.0
    logVersion: v2
    logSource: http
    logType: log
    logLevel: INFO
    secretKey: JsGDL5oTWPImKY8nag9igsUAdnUOvLMI




nhn:
  cloud:
    #키 매니저
    keyManager:
      appkey: 2SxwmBzUfnqJaA2A
      redisKey: 60427297022b4bdb9650789537e4b945
      storeKey: e0a81fc89a1d4c5196df53d3fdab0f64
      imageManagerKey: f1a359544d624274b58cac169b00d774
      rabbitMQKey: 5070b197613e4db6a73e9db96c54789f
      elasticSearchKey: 74649bffcfbb40a9bcae7204e6863d05
      userAccessKey: J9VxQFQEsmerR1n7FeJ6
      secretAccessKey: zZEVopUHt6dxgRMt


#유레카 활성화
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka


