spring:
  application:
    name: 'store'

  datasource:
    url: jdbc:mysql://133.186.241.167:3306/be6_supernova_dev
    username: be6_supernova
    password: Hv-]JRIyCw[[9O18
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: 133.186.241.167
    port: 5672
    username: admin
    password: nhnacademy123!
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          initial-interval: 3000  # 최초 메시지 처리 실패 후 재시도까지의 인터벌 (3초)
          max-interval: 10000    # 최대 재시도 인터벌 (10초)
          max-attempts: 3        # 최대 재시도 횟수
          multiplier: 2.0        # 이전 interval * multiplier = 다음 interval


#절대 변경 금지
  jpa:
    hibernate:
      ddl-auto: validate


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace


jwt:
  secret: vzxvgsjdgdfjgfdskgjdsfkgjdsfkgkdsfgjdfkgjdfsgdklgjadgslkjgsaklj

rabbitmq:
  queue:
    coupon: nova.coupon.queue
    dead: nova.dead.queue
    member-coupon: nova.membercoupon.queue
  exchange:
    member: nova.member.exchange
    coupon: nova.coupon.exchange
  routing:
    member: member.registration
    couponCreated: coupon.created


nhn:
  cloud:
    imageManager:
      endpointUrl: https://api-image.nhncloudservice.com
      accessKey: vyiy4M85i8mJ5mgP
      secretKey: ffpUQvzkmH8RsQDTuvpZD7U9tWlqExe4
      bucketName: /supernova-image/
      localStorage: src/main/resources/image/



#유레카 활성화
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://125.6.36.57:8761/eureka
#  instance:
#    prefer-ip-address: true