spring:
  application:
    name: 'store'

  datasource:
    url: jdbc:mysql://133.186.241.167:3306/be6_supernova_dev
    username: be6_supernova
    password: Hv-]JRIyCw[[9O18
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: localhost
    port: 5672
    username: supernova
    password: 1234
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          initial-interval: 3000  # 최초 메시지 처리 실패 후 재시도까지의 인터벌 (3초)
          max-interval: 10000    # 최대 재시도 인터벌 (10초)
          max-attempts: 3        # 최대 재시도 횟수
          multiplier: 2.0        # 이전 interval * multiplier = 다음 interval


#절대 변경 금지
  jpa:
    hibernate:
      ddl-auto: validate


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

rabbitmq:
  queue:
    coupon: couponQueue
    dead: deadQueue
    member-coupon: memberCouponQueue
  exchange:
    member: memberExchange
    coupon: couponExchange
  routing:
    member: member.registration
    couponCreated: coupon.created

nhn:
  cloud:
    imageManager:
      endpointUrl: https://api-image.nhncloudservice.com
      accessKey: vyiy4M85i8mJ5mgP
      secretKey: ffpUQvzkmH8RsQDTuvpZD7U9tWlqExe4
      bucketName: /supernova-image/
      localStorage: src/main/resources/image/



