spring:
  config:
    activate:
#      기본 개발 프로필
      on-profile: dev

  application:
    name: 'store'

  datasource:
    url: jdbc:mysql://133.186.241.167:3306/be6_supernova_dev
    username: be6_supernova
    password: Hv-]JRIyCw[[9O18
    driver-class-name: com.mysql.cj.jdbc.Driver


#절대 변경 금지
  jpa:
    hibernate:
      ddl-auto: validate


    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace


